* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  min-height: 200vh;
}
/* HEADER */
.header {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)),
    url(../img/plane-wing-02.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px 8%;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.site-logo {
  width: 180px;
  cursor: pointer;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  color: white;
}
.site-logo img {
  height: 30px;
}

.nav-links {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 60px;
}

.nav-links li {
  display: inline-block;
  margin: 10px 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.booking-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background: #f5168d;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.booking-btn img {
  width: 20px;
  margin-right: 12px;
}

.hero-content {
  margin-top: 10%;
  color: white;
  max-width: 620px;
}

.hero-content h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 85px;
  margin-bottom: 25px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-content form {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  padding: 10px;
}

.hero-content form input {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
}

.search-btn {
  font-size: 15px;
  padding: 15px 30px;
  background-color: #f5168d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* SOBRE NOS SECTION */
.about-us {
  min-height: 100vh;
  width: 100%;
  background-color: #f9f9f9; /* Fundo claro */
}

.service-wrapper {
  padding: 5% 8%;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service h1 {
  color: #333; /* Texto escuro para contraste */
  font-size: 4rem;
  letter-spacing: 4px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 80px;
}

.card {
  height: 350px;
  width: 370px;
  background-color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card i {
  color: #f5168d;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 4.8rem;
  transition: color 0.3s;
}

.card:hover i {
  color: #bb0667;
}

.card h2 {
  color: #333;
  font-weight: 600;
  letter-spacing: 1px;
}

.card p {
  width: 100%;
  margin: 12px 0;
  color: #666;
}
