/*===========================================
  VARIÁVEIS GLOBAIS
===========================================*/
:root {
  ---text-color: #333;
  --main-color: #f5168d;
  --h2-font: 4rem;
  --p-font: 1.1rem;
}

/*===========================================
  RESET & ESTILOS BASE
===========================================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
}

/*===========================================
  SEÇÃO HEADER / HERO
===========================================*/
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/hero01.jpg);
  animation: bgChange 20s linear infinite;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.625rem 8%;
  position: relative;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65));
}
.hero .container {
  height: 100%;
}
.hero .navbar,
.hero .hero-content {
  position: relative;
  z-index: 4;
}

/*-------------------------------------------
  Navbar & Logo
-------------------------------------------*/
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0;
}

.logo {
  width: 11.25rem;
  cursor: pointer;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 2.5rem;
  color: white;
}

.logo img {
  height: 1.875rem;
}

.nav-list {
  list-style: none;
  text-align: right;
  width: 100%;
  padding-right: 3.75rem;
}

.nav-list li {
  display: inline-block;
  margin: 10px 20px;
}

.nav-list li a {
  color: #b1b1b1;
  text-decoration: none;
  padding: 0 0.625rem;
  letter-spacing: 0.5px;
  position: relative;
  transition: 0.3s color ease-in-out;
}

.nav-list li a::after {
  content: "";
  position: absolute;
  background-color: #f5168d;
  height: 0.1875rem;
  width: 0;
  left: 0;
  bottom: -0.625rem;
  transition: 0.4s ease-in-out;
}

.nav-list li a:hover {
  color: #fff;
}

.nav-list li a:hover::after {
  width: 100%;
}

/*-------------------------------------------
  Botões e Conteúdo do Hero
-------------------------------------------*/
.btn {
  display: flex;
  align-items: center;
  padding: 0.625rem 1.25rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background: #f5168d;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.btn img {
  width: 1.25rem;
  margin-right: 12px;
}

.hero-content {
  color: white;
  max-width: 43rem;
  display: grid;
  align-content: center;
  height: 100%;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 5.3125rem;
  margin-bottom: 1.4rem;
}

.hero-content p {
  font-size: var(--p-font);
  margin-bottom: 1.7rem;
}

.hero-content form {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  padding: 0.625rem;
}

.hero-content form .input {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 1rem;
  padding-left: 0.625rem;
}

.hero-content form .btn {
  font-size: 0.9375rem;
  padding: 0.9375rem 1.875rem;
  background-color: #f5168d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.navbar .fa-bars {
  display: none;
}
/*===========================================
  ESTILOS GERAIS DE SEÇÕES
===========================================*/
section {
  padding: 10px 8%;
}
/*===========================================
  SEÇÃO SERVICES
===========================================*/
.services {
  margin-top: 5rem;
  width: 100%;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  color: var(---text-color);
  font-size: var(--h2-font);
  letter-spacing: 1.7px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap: 1rem;
  margin-top: 5rem;
}

.card {
  padding: 2.5rem 1.25rem 4.375rem;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card i {
  color: var(--main-color);
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 4.8rem;
  transition: color 0.3s;
}

.card:hover i {
  color: #bb0667;
}

.card h2 {
  color: var(---text-color);
  font-weight: 600;
  letter-spacing: 1px;
}

.card p {
  width: 100%;
  margin: 12px 0;
  color: #666;
}

/*===========================================
  SEÇÃO PACOTES
===========================================*/
.title h2 {
  text-align: center;
  font-size: var(--h2-font);
  letter-spacing: 1.8px;
  color: var(---text-color);
}

.package {
  margin: 5rem 0;
}

.package-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 5rem;
}

.thum {
  position: relative;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.thum img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.thum .preco {
  position: absolute;
  font-size: 1.9rem;
  font-weight: 600;
  text-align: right;
  color: #fff;
  top: 0.375rem;
  right: 2.5rem;
}

.dest-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.stars i {
  color: var(--main-color);
  font-size: 1.25rem;
}

.location h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.thum:hover {
  transform: scale(1.04);
}

/*===========================================
  SEÇÃO PLACES
===========================================*/
.bg1 {
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 2rem 0 6rem;
}
.places {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  gap: 15px;
  margin-top: 80px;
}

.places h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
  font-size: var(--h2-font);
  color: #fff;
  grid-column: 1/-1;
  letter-spacing: 1.6px;
}

.places img {
  width: 100%;
  height: 15.625rem;
  object-fit: cover;
  border-radius: 0.625rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.places img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.secao-img {
  position: relative;
  overflow: hidden;
}

.secao-img img {
  display: block;
  width: 100;
}

.lugar {
  color: white;
  font-weight: bold;
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  justify-content: center;
  transition: bottom 0.4s ease;
  bottom: -20%;
  background-color: rgba(0, 0, 0, 0.5);
}

.secao-img:hover .lugar {
  bottom: 0;
}

/* =========================================
  SEÇÃO NEWSLATER
============================================ */
.newsletter {
  color: var(---text-color);
  padding: 2.5rem 1.25rem;
  text-align: center;
}
.newsletter .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  max-width: 75rem;
  margin: 0 auto;
}
.newsletter h2 {
  font-size: var(--h2-font);
  margin-bottom: 1.25rem;
  letter-spacing: 2px;
}
.newsletter p {
  font-size: var(--p-font);
  margin-bottom: 1.25rem;
}
.newsletter form {
  display: grid;
  gap: 1rem;
}
.newsletter input {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(---text-color);
  border-radius: 5px;
  outline: 0;
  font-size: 1.1rem;
}
.newsletter textarea {
  font-size: 1.1rem;
  padding: 1rem;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.newsletter .btn {
  justify-self: left;
  padding: 1rem 3rem;
  transition: all 0.4s ease-in-out;
  font-size: 1.23rem;
}
.newsletter .btn:hover {
  background-color: white;
  color: var(--main-color);
  outline: 2px solid var(--main-color);
}

.contatos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-around;
  margin: 4rem 0;
}
.contatos i {
  font-size: 2rem;
  color: #333;
  margin: 0.625rem;
  cursor: pointer;
}
.contatos a {
  text-decoration: none;
  color: #333;
}
.contatos p {
  font-size: 16px;
}
.newsletter iframe {
  width: 90%;
  height: 100%;
}
/*===========================================
  SEÇÃO FOOTER
===========================================*/
footer {
  background-color: #333;
  color: #fff;
  padding: 2.5rem 1.25rem;
  margin-top: 10rem;
}

.footer-container {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h3 {
  border-bottom: 2px solid #555;
  padding-bottom: 0.625rem;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: #fff;
  margin-right: 15px;
  font-size: 1.25rem;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ddd;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #555;
  padding-top: 1.25rem;
  margin-top: 20px;
  font-size: 0.875rem;
}

/*===========================================
  MEDIA QUERIES
===========================================*/
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .nav-list,
  nav .btn {
    display: none;
  }
  .navbar .fa-bars {
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: #bb0667;
  }
  .hero-content h1 {
    line-height: 1.2;
  }
}

/*-------------------------------------------
  Animação de fundo
-------------------------------------------*/
@keyframes bgChange {
  0% {
    background-image: url(../img/hero01.jpg);
  }
  30% {
    background-image: url(../img/hero01.jpg);
  }
  35% {
    background-image: url(../img/hero02.jpg);
  }
  65% {
    background-image: url(../img/hero02.jpg);
  }
  75% {
    background-image: url(../img/hero03.jpg);
  }
  95% {
    background-image: url(../img/hero03.jpg);
  }
}
