/*===========================================
  VARIÁVEIS GLOBAIS
===========================================*/
:root {
  ---text-color: #333;
  --main-color: #f5168d;
  --h2-font: 4rem;
  --p-font: 1.1rem;
}

/*===========================================
  RESET & ESTILOS BASE
===========================================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
}
/*===========================================
  ESTILOS GERAIS
===========================================*/
section {
  padding: 10px 8%;
}
.container {
  max-width: 75rem;
  margin: 0 auto;
}
.btn {
  display: flex;
  align-items: center;
  padding: 0.625rem 1.25rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background: var(--main-color);
  color: white;
  font-weight: 500;
  cursor: pointer;
}
/*===========================================
  SEÇÃO HEADER / HERO
===========================================*/
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/hero01.jpg);
  animation: bgChange 20s linear infinite;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.625rem 8%;
  position: relative;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65));
}
.hero .container {
  height: 100%;
}
.hero__nav,
.hero .hero__content {
  position: relative;
  z-index: 4;
}

/*-------------------------------------------
  Navbar & Logo
-------------------------------------------*/
.hero__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0;
}

.hero__logo {
  width: 11.25rem;
  cursor: pointer;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 3rem;
  color: white;
}

.hero__logo img {
  height: 1.875rem;
}

.hero__nav-list {
  list-style: none;
  text-align: right;
  width: 100%;
  padding-right: 3.75rem;
}

.hero__nav-list li {
  display: inline-block;
  margin: 10px 20px;
}

.hero__nav-list li a {
  color: #b1b1b1;
  text-decoration: none;
  padding: 0 0.625rem;
  letter-spacing: 0.5px;
  position: relative;
  transition: 0.3s color ease-in-out;
}

.hero__nav-list li a::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  height: 0.1875rem;
  width: 0;
  left: 0;
  bottom: -0.625rem;
  transition: 0.4s ease-in-out;
}

.hero__nav-list li a:hover {
  color: #fff;
}

.hero__nav-list li a:hover::after {
  width: 100%;
}

/*-------------------------------------------
  Botões e Conteúdo do Hero
-------------------------------------------*/

.hero .btn img {
  width: 1.25rem;
  margin-right: 12px;
}

.hero__content {
  color: white;
  max-width: 53rem;
  display: grid;
  align-content: center;
  height: 80%;
}

.hero__content h1 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.1;
}

.hero__content p {
  font-size: var(--p-font);
  margin: 2rem 0 3rem;
  max-width: 80%;
}

.hero__content form {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  padding: 0.625rem;
}

.hero__content form .input {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 1rem;
  padding-left: 0.625rem;
}

.hero__content form .btn {
  font-size: 1rem;
  padding: 1rem 1.875rem;
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.hero__nav .hero__menu-toggle {
  display: none;
  text-decoration: none;
}
.hero__nav .hero__menu-toggle i {
  font-size: 3rem;
  color: var(--main-color);
}

/*===========================================
  SEÇÃO SERVICES
===========================================*/
.services {
  margin-top: 5rem;
  width: 100%;
}

.services__title {
  color: var(---text-color);
  font-size: var(--h2-font);
  letter-spacing: 1.7px;
  margin-bottom: 1.4rem;
  text-align: center;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1rem;
  margin-top: 5rem;
}

.services__card {
  padding: 2.5rem 1.25rem 4.375rem;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
}

.services__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.services__card i {
  color: var(--main-color);
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 4.8rem;
  transition: color 0.3s;
}

.services__card:hover i {
  color: #bb0667;
}

.services__card h2 {
  color: var(---text-color);
  font-weight: 600;
  letter-spacing: 1px;
}

.services__card p {
  width: 100%;
  margin: 12px 0;
  color: #666;
}

/*===========================================
  SEÇÃO PACOTES
===========================================*/

.packages {
  margin: 5rem 0;
}
.packages h2 {
  text-align: center;
  font-size: var(--h2-font);
  letter-spacing: 1.8px;
  color: var(---text-color);
}

.packages__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 5rem;
}

.packages__thumbnail {
  position: relative;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.packages__thumbnail img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.packages__thumbnail .packages__price {
  position: absolute;
  font-size: 1.9rem;
  font-weight: 600;
  text-align: right;
  color: #fff;
  top: 1rem;
  right: 2.5rem;
}

.packages__details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.packages__rating i {
  color: var(--main-color);
  font-size: 1.25rem;
}

.packages__location h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.packages__thumbnail:hover {
  transform: scale(1.04);
}

/*===========================================
  SEÇÃO PLACES
===========================================*/
.places {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  gap: 15px;
  margin-top: 80px;
}
.places__bg {
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 2rem 0 6rem;
}

.places h2 {
  text-align: center;
  margin: 0;
  font-size: var(--h2-font);
  color: #fff;
  grid-column: 1/-1;
  letter-spacing: 1.6px;
}
.places p {
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #fff;
}

.places img {
  width: 100%;
  height: 15.625rem;
  object-fit: cover;
  border-radius: 0.625rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.places img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.places__item {
  position: relative;
  overflow: hidden;
}

.places__item img {
  display: block;
  width: 100;
}

.places__location {
  color: white;
  font-weight: bold;
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  justify-content: center;
  transition: bottom 0.4s ease;
  bottom: -20%;
  background-color: rgba(0, 0, 0, 0.5);
}

.places__item:hover .places__location {
  bottom: 0;
}

/* =========================================
  SEÇÃO CONTATO
============================================ */
.contact {
  color: var(---text-color);
  padding: 2.5rem 1.25rem;
  text-align: center;
}
.contact__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-content: space-around;
  margin: 4rem 0;
}
.contact__info i {
  font-size: 2rem;
  color: var(---text-color);
  margin: 0.625rem;
  cursor: pointer;
}
.contact__info a {
  text-decoration: none;
  color: var(---text-color);
}
.contact__info p {
  font-size: 16px;
}

.contact .contact__form-map {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  max-width: 75rem;
  margin: 0 auto;
}
.contact h2 {
  font-size: var(--h2-font);
  margin-bottom: 1.25rem;
  letter-spacing: 2px;
}
.contact p {
  font-size: var(--p-font);
  margin-bottom: 1.25rem;
}
.contact form {
  display: grid;
  gap: 1.5rem;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--text-color, #ccc);
  border-radius: 5px;
  font-size: 1.1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.contact input:focus,
.contact textarea:focus {
  border-color: var(--main-color, #3498db);
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.3);
  outline: none;
}

.contact .btn {
  justify-self: start;
  padding: 1rem 3rem;
  font-size: 1.23rem;
  background: var(--main-color, #3498db);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.2s ease-in-out,
    box-shadow 0.2s ease;
}

.contact .btn:hover {
  background-color: white;
  color: var(--main-color, #3498db);
  outline: 2px solid var(--main-color, #3498db);
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(52, 152, 219, 0.4);
}

.contact iframe {
  width: 100%;
  height: 100%;
}
/*===========================================
  SEÇÃO FOOTER
===========================================*/
.footer {
  background-color: #333;
  color: #fff;
  padding: 2.5rem 1.25rem;
  margin-top: 10rem;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer__section h3 {
  border-bottom: 2px solid #555;
  padding-bottom: 0.625rem;
  margin-bottom: 15px;
}

.footer__section ul {
  list-style: none;
  padding: 0;
}

.footer__section ul li {
  margin-bottom: 10px;
}

.footer__section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer__section ul li a:hover {
  text-decoration: underline;
}

.footer__bottom {
  text-align: center;
  border-top: 1px solid #555;
  padding-top: 1.25rem;
  margin-top: 20px;
  font-size: 0.875rem;
}
.footer__bottom p a {
  color: #fff;
  text-decoration: none;
}

/*===========================================
  MEDIA QUERIES
===========================================*/

@media (max-width: 1170px) {
  .hero__nav-list,
  nav .btn {
    display: none;
  }
  .hero__nav .hero__menu-toggle {
    display: block;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .hero__content h1 {
    line-height: 1.2;
    font-size: 4rem;
  }
}
@media (max-width: 570px) {
  .hero__content {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/*-------------------------------------------
  Animação de fundo
-------------------------------------------*/
@keyframes bgChange {
  0% {
    background-image: url(../img/hero01.jpg);
  }
  30% {
    background-image: url(../img/hero01.jpg);
  }
  35% {
    background-image: url(../img/hero02.jpg);
  }
  65% {
    background-image: url(../img/hero02.jpg);
  }
  75% {
    background-image: url(../img/hero03.jpg);
  }
  95% {
    background-image: url(../img/hero03.jpg);
  }
}
